<div class="feature-wrapper">
	<ul class="feature-list">
		<li ng-repeat="feature in getUserFeatures() track by feature.id">
			<h3 class="feature-header"><a href={{::feature.html_url}} target="_blank">{{::feature.title}}</a></h3>
			<div ng-bind-html="feature.description"></div>
		</li>
		<li>
		</li>
	</ul>
	<p class="bug-description">Bekijk de release notes om te zien wat er nieuw is in deze versie: <a href="https://exxellence.atlassian.net/wiki/spaces/KRN/pages/966729859115/Release+notes+Zaaksysteem" target="_blank">Release notes</a>.</p>
</div>
