<div class="pip-instances-wrap"
    data-zs-instances-view 
    data-customer-id="[% betrokkene.betrokkene_identifier %]"
    data-pip="true"
    data-pip-write="[% edit_controlpanel ? 'true' : 'false' %]"
>

    <div class="pip-account-title pip-page-title">
        <h1>Omgevingen</h1>
        <button class="button button-primary right ng-cloak"
            data-zs-instances-add
            data-zs-instances-add-templates="[]"
            data-zs-popup="'/html/admin/instances/instances.html#add'"
            data-ng-click="openPopup()"
            data-ng-show="instancesView.hasCustomerConfig()&&instancesView.isPipWritable()"
        >
            <i class="icon-font-awesome icon-plus-sign"></i> Omgeving aanmaken
        </button>
    </div>

    <div class="pip-block">
    	
        <div class="pip-block-content pip-instances">
        	
            <div class="pip-instances-crud" data-zs-instances-crud ng-show="instancesView.isLoaded()">
            </div>
            
        </div>
        
    </div>

</div>
