[% USE Dumper %]
[% USE Scalar; %]

[% huidige_fase = zaak.huidige_fase.fase %]
[% volgende_fase = zaak.volgende_fase.fase %]
[% IF
zaak.volgende_fase.role_id != zaak.route_role ||
zaak.volgende_fase.ou_id != zaak.route_ou
; route_change = 1; END %]
[% #zaak.volgende_fase.fase %]



[% BLOCK status_behandelaar %]
    <h2 class="blue">[% component_counter %]. Behandelaar</h2>
        <span
            [% (zaak.scalar.is_betrokkene_compleet ? ' class="correct"'
            : ' class="error"') %]
        >
        [% (zaak.scalar.is_betrokkene_compleet
            ? 'Deze zaak heeft een behandelaar.' :
            'Deze zaak heeft geen behandelaar, klik
            <a href="' _ c.uri_for('/zaak/' _
            zaak.nr _ '/open')
            _ '">hier</a> om deze zaak in behandeling te nemen.' )
        %]
        </span>
[% END %]





[% BLOCK status_checklist %]
    <h2 class="blue">[% component_counter %]. Checklist</h2>
        <span
            [% (zaak.scalar.is_checklist_compleet ? ' class="correct"'
            : ' class="error"') %]
        >
        [% (zaak.scalar.is_checklist_compleet
            ? 'De checklist is correct ingevuld.' :
            'Checklist (nog) niet afgemaakt. Ga naar
            de <a href="' _ c.uri_for('/zaak/' _
            zaak.nr _ '#zaak-elements-taken')
            _ '">checklist</a>.' )
        %]
        </span>
[% END %]





[% BLOCK status_kenmerk %]
    <h2 class="blue">[% component_counter %]. Kenmerken</h2>
        <span
            [% (status_kenmerken_incompleet ? ' class="error"'
            : ' class="correct"') %]
        >
        [% (status_kenmerken_incompleet
                ? status_kenmerken_incompleet _ '. Ga naar '
                    _ ' de <a href="' _ c.uri_for('/zaak/') _
                zaak.nr _ '?fase=' _ status_kenmerken_fase_incompleet _ '#zaak-elements-taken'
                _ '">kenmerken</a>.'
                : 'Alle verplichte kenmerken zijn ingevuld'
        ) %]
        </span>
[% END %]



[% BLOCK status_resultaat %]
    [% IF zaak.is_volgende_afhandel_fase %]
    [% component_counter = component_counter + 1 %]
    <div class="next-status-block">
        <h2 class="blue">[% component_counter %]. Resultaat</h2>
        <span
            [% (zaak.resultaat ? ' class="correct"'
            : ' class="error"') %]
        >
        [% (
            zaak.resultaat
                ? 'Resultaat bekend.'
                : 'Resultaat van de zaak is niet bekend.'
                    _ ' Ga naar '
                    _ ' de <a href="' _ c.uri_for('/zaak/' _
                zaak.nr _ '#zaak-elements-taken')
                _ '">kenmerken</a>.'
        ) %]
        </span>
    </div>
    [% END %]
[% END %]


[% BLOCK status_deelzaak %]
    [% required_subcases_unfinished = zaak.required_subcases_unfinished %]

    [% IF required_subcases_unfinished.keys.size %]
        [% component_counter = component_counter + 1 %]
            <div class="next-status-block">
                <h2 class="blue">[% component_counter %]. Lopende deelzaken</h2>
                <span class="error">
                Niet alle verplichte deelzaken zijn gestart en afgerond. Ga naar de <a href="[% c.uri_for('/zaak/' _
                zaak.nr _ '#zaak-elements-taken') %]">deelzaken</a>.
                </span>


                <!--[% FOREACH zaaktype_relatie_id = required_subcases_unfinished.keys %]
                    [% zaaktype_relatie = c.model('DB::ZaaktypeRelatie').find(zaaktype_relatie_id) %]
                    <li>[% zaaktype_relatie.relatie_zaaktype_id.zaaktype_node_id.titel %]</li>
                   [% IF zaak_subcase.relation_zaak_id %]
                        <td><a href="/zaak/[% zaak_subcase.get_column('relation_zaak_id') %]">Zaak [% zaak_subcase.get_column('relation_zaak_id') %]</a></td>
                            <input type="hidden" name="keep_started_subcases" value="[% subcase.get_column('relation_zaak_id') %]" />
                    [% END %]
                [% END %] -->
                
            </div>
    [% END %]
[% END %]



[% BLOCK status_toewijzing %]
    [% component_counter = component_counter + 1 %]
    <div class="next-status-block">
        <h2 class="blue">[% component_counter = component_counter + 1; component_counter %]. Toewijzing</h2>
    </div>
[% END %]



[% BLOCK status_document %]
[% # assumed obsolete 19 feb 2013 - jw %]
    <h2 class="blue">[% component_counter %]. Documenten</h2>
    [% complete = zaak.is_documenten_compleet %]

    [% IF complete.result -%]
        [% IF zaak.is_document_queue_empty -%]
            <span class="correct">
            Alle verplichte documenten voor deze fase zijn toegevoegd.
            </span>
        [% ELSE %]
            <span class="error">
            Documenten in de wachtrij moeten eerst verwerkt worden alvorens deze zaak afgehandeld kan worden. Ga naar de <a href="[% c.uri_for('/zaak/' _ zaak.nr _ '#zaak-elements-documents') %]'">documenten</a>.</span>
        [% END %]
    [% ELSE %]
        <span class="error">
        Niet alle verplichte documenten voor deze fase zijn toegevoegd. Ga naar de <a href="[% c.uri_for('/zaak/') _ zaak.nr _ '?fase=' _ complete.phase _ '#zaak-elements-documents' %]">documenten</a>.</span>
    [% END %]
[% END %]



[% BLOCK advance_actions %]
    [% vervolgsubzakenstring    = 'Zaken' %]
    [% vervolgsubzakenstringe   = 'zaak' %]
    [% IF !zaak.is_volgende_afhandel_fase %]
        [% PROCESS zaak/status/toewijzing.tt %]
    [% END %]
    
    [% PROCESS zaak/status/zakenstarten.tt %]
    
    [% PROCESS zaak/status/berichten.tt %]


    [% IF can_parent_advance %]
        [% PROCESS zaak/status/parentadvance.tt %]
    [% END %]

    <div class="form-actions clearfix">
        <a href="[% c.uri_for('/zaak/' _ zaak.nr) %]" title="Annuleren"><input type="button" value="Annuleren" class="button button-primary"></a> 
        <input type="submit" value="[% (zaak.is_volgende_afhandel_fase ?
            'Afhandelen' : 'Volgende fase') %]" class="button button-primary right">
    </div>

[% END %]


[% advance_result = zaak.can_volgende_fase %]
[% IF advance_result.can_advance %]

    <div id="next-status">
        <div class="block">
            <p class="header">
            Zaak [% zaak.nr %]:
            [% zaak.zaaktype_node_id.zaaktype_definitie_id.handelingsinitiator | ucfirst %]
            [% zaak.zaaktype_node_id.titel %] voor
                  <a href="[% c.uri_for('/betrokkene/get/' _ zaak.aanvrager_object.betrokkene_identifier ) %]" class="ezra_dialog" title="Informatie over aanvrager">
                    [% zaak.aanvrager.naam %]
                </a>
            </p>
            <div class="blockcontent">
                <form method="POST" action="[% c.uri_for('/' _ c.req.path) %]" class="zvalidate">
                    <input type="hidden" name="update" value="1">
    
                    <div class="next-status-titel">
                        <h1>
                        [% ( volgende_fase
                            ? 'Overgangspagina om naar de volgende fase te gaan'
                            : 'Overgangspagina om de zaak af te handelen'
                        ) %]
                        </h1>
                        <div class="current-fase">
                            <span>Huidige fase:</span><br/> [% volgende_fase %]
                        </div>
                    </div>
    
                        [% PROCESS advance_actions %]
    
                </form>
            </div>
        </div>
    </div>
[% ELSE %]
    [% PROCESS zaak/status/advanceresult.tt %]
[% END %]


[% BLOCK oldskool %]
    [% component_counter = 0 %]
    [% FOREACH component IN [
        'behandelaar',
        'checklist',
        'document',
        'kenmerk',
    ] %]
        [% component_counter = component_counter + 1 %]
        [% block = 'status_' _ component %]
        <div class="next-status-block">[% INCLUDE $block %]</div>
    [% END %]

    [% PROCESS status_deelzaak %]
    [% PROCESS status_resultaat %]
    [%# PROCESS status_toewijzing %]
    
    [% UNLESS zaak.can_volgende_fase && !status_next_stop %]
        [% RETURN %]
    [% END %]
    
    [% vervolgsubzakenstring    = 'Zaken' %]
    [% vervolgsubzakenstringe   = 'zaak' %]
    [% IF !zaak.is_volgende_afhandel_fase %]
        [% PROCESS zaak/status/toewijzing.tt %]
    [% END %]
    
    
    [% PROCESS zaak/status/zakenstarten.tt %]
    
    
    [% PROCESS zaak/status/berichten.tt %]
[% END %]
