<div class="row">
    <div class="column large-5">Gebruik waarde van kenmerk:</div> 
    <div class="column large-7">
        [% datumkenmerk_fieldname = fieldname _ '_datum_bibliotheek_kenmerken_id' %]

        [% PROCESS beheer/zaaktypen/milestones/rules/field_select.tt
            kenmerk_name = 'regels_' _ datumkenmerk_fieldname
            value = params.$datumkenmerk_fieldname
            hide_aanvrager_option = 1
            show_phase_transition = 0
            show_all_kenmerken = 0
            show_value_kenmerken = 0
            hide_aanvrager_option = 1
            show_result_kenmerk = 0
            show_price = 0
            allowed_kenmerk_types = { date => 1 }
        %]
    </div>
</div>
<div class="row">
    <div class="column large-5">Streefafhandeldatum herberekenen:</div> 
    <div class="column large-7">
        [% recalculate_fieldname = fieldname _ '_recalculate' %]
        <input type="checkbox" class="regels_recalculate_checkbox" name="regels_[% recalculate_fieldname %]"
                        [% IF params.$recalculate_fieldname == 'on' %]checked="checked"[% END %] />
    </div>
</div>
