@import './../../../../../../shared/styles/variables';

.case-custom-object-list{
	margin-top: 1.5rem;
}

.custom-object-header{
	font-size:1.067rem;
}

.custom-object-inactive {
	color: $grey;
}

.form-field-required {
	color:$red;
}
