<div zs-click-outside="vm.handleClickOutside()">
  <div style="display:flex">
    <input
      type="text"
      ng-model="vm.query"
      ng-change="vm.handleQueryChange()"
      ng-model-options=" { updateOn: 'default blur', debounce: 250 }"
      placeholder="{{vm.getPlaceholder()}}"
      ng-focus="vm.handleFocus($event)"
      autocomplete="aabbccdd"
    />

    <button
      type="button"
      class="btn btn-secondary btn-flat"
      ng-click="vm.clearAddress()"
      zs-tooltip="Wissen"
      aria-label="Wissen"
      ng-show="vm.hasQuery()"
      style="margin-left:8px"
    >
    <zs-icon icon-type="close" class="ng-isolate-scope"><i class="mdi mdi-close"></i></zs-icon>
  </button>

  </div>
    <zs-suggestion-list
      data-suggestions="vm.getSuggestions()"
      on-select="vm.handleSelect($suggestion)"
      key-input-delegate="vm.getInputDelegate()"
      data-label="{{vm.getStateLabel()}}"
      ng-if="vm.isOpen()"
      zs-position-fixed="{ reference: vm.getInputDelegate().input, autosize: true, attachment: 'top left', target: 'bottom left', flip: true, updateOn: 'default watch' }"
    >
    </zs-suggestion-list>
    <address-content></address-content>
</div>
