<div id="about_dialog" class="form">
    <table>
        <tbody>
            [% FOREACH aboutkey IN ZCONSTANTS.zaaksysteem_about %]
            <tr>
                <td class="td200">[% aboutkey | ucfirst %]:</td>
                <td>[% c.about.$aboutkey %]</td>

            </tr>
            [% END %]
            <tr>
                <td class="td200">Einddatum:</td>
                <td>N.v.t.</td>

            </tr>
            <tr>
                <td class="td200">Documentatie:</td>
                <td><a target="_blank" rel="noopener" href="http://wiki-old.zaaksysteem.nl/">Zaaksysteem Wiki</a></td>

            </tr>
        </tbody>
    </table>
</div>
