<div class="kenmerk-veld row">

	<div class="column large-4">

		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Een komma-gescheiden lijst van templates die toegestaan zijn voor /form',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
			<label>Toegestane web-templates</label>
		</div>
		
	</div>

	<div class="column large-8">
		<div class="field">
			<input type="text" name="[% parameter %]" value="[% value %]" />
		</div>
	</div>

</div>
