[%
    group_value = config.case_distributor_group; 
    role_value = config.case_distributor_role;
%]

<div class="kenmerk-veld row">
    <div class="column large-4">
        <div class="field-label field-has-help">
            <div class="field-help">
                [% PROCESS widgets/general/dropdown.tt
                    dropdown_content = 'Wanneer een zaak wordt afgewezen, stuur deze door naar onderstaand geconfigureerde afdeling en rol'
                    icon = 'icon-question-sign',
                    icon_type = 'icon-font-awesome'
                %]
            </div>
            <label>Afgewezen zaken afdeling en rol</label>
        </div>
    </div>
    <div class="column large-8">
        <div class="field">
            [% PROCESS widgets/general/auth_select.tt
                AUTH_SELECT_OU_NAME   = 'case_distributor_group'
                AUTH_SELECT_OU_VALUE  = group_value
                AUTH_SELECT_ROLE_NAME = 'case_distributor_role'
                AUTH_SELECT_ROLE_VALUE = role_value
                AUTH_SELECT_NO_GLOBAL = 1
            %]
        </div>
    </div>

</div>
