[%-
  USE date;

  BLOCK list_for_user;

  user_list = c.model('ExportQueue').list_exports;

  WHILE (item = user_list.next);
    PROCESS single_download_item;
  END;

END -%]

[% BLOCK single_download_item %]
[%
  uri = c.uri_for('/exportqueue/download', item.token);
  name = item.filestore_id.original_name;
  expires = date.format(item.expires.set_time_zone('Europe/Amsterdam'), locale='nl_NL');
%]
  <tr>
    <td><a href="[% uri %]">[% name | html_entity %]</th>
    <td>[% expires | html_entity %]</th>
  </tr>
[% END %]

<div>
  <table>
    <tr>
      <th>Exportbestand</th>
      <th>Verloopt op</th>
    </tr>
    [% PROCESS list_for_user %]
  </table>
</div>
