.import .import_item_inner{
    //background-image: linear-gradient(bottom, #b7dc94, rgb(189,238,165)) !important;
    background-color: rgb(189,238,165);
    border-color: #bbb;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    //box-shadow: inset 0 1px 0 #fff;
    position: relative;
    display: table;
    table-layout:fixed;
    width:100%;
    @include box-sizing(border-box);
}

.import .import_item_inner:hover{
    background-color: #a2e681;
    cursor: pointer;
}

.import .import_item_inner.open{
    border-bottom-color: #aaa;
}

.import .import_item_active .check{
    position: absolute;
    background:url(/images/import-check.png) no-repeat;
    width:23px;
    height:17px;
    right:20px;
    top:50%;
    margin-top:-8px;
}

.import .import_item_error{
    background-color: #ffcccc;
    border-color: #bbb;
}

.import .import_item_error:hover{
    background-color: #ffbfbf;
}

.import .import_item_inner.import_item_active{
    //box-shadow: inset 1px 1px 2px #9ec989;
    border-color: #b3b3b3 #d0d0d0 #d0d0d0 #b7b7b7;
}

.import .import_item_inner.import_item_active.bottom{
    border-color: #aaa #aaa #bbb #bbb;
}

.import .title{
    padding: 0px 0 0px 0;
    width: 32%;
    display: table-cell;
    vertical-align: top;
    padding-top:15px;
    padding-bottom:15px;
}

.import .title strong{
    padding-left: 48px;
    font-weight: 600;
}

.import .title strong,.import .rfa .action{
    display: table-cell;
    vertical-align: middle;
}

.import .rfa{
    display:table-cell;
    vertical-align: middle;
    width: 68%;
    padding-right: 10%;
    padding-top:15px;
    padding-bottom:15px;
}

.import .rfa .action{
    position: relative;
    padding-left: 50px;
    background: url(/images/import-check.png) 20px center no-repeat;
}

.import .import_item_error .rfa .action{
    background: url(/images/import-error.png) 20px center no-repeat;
}

.import_kenmerk_only_active_values{
    position:absolute;
    right:20px;
    top:50%;
    z-index:2;
    margin-top:-12px;
}