<div class="dropdown-wrap ezra_dropdown_init_hover [% IF allow_click == 1 %]ezra_dropdown_init_hover_allow_click[% END %]">
    <button type="button" class="dropdown-init dropdown-icon [% icon_type || 'icon-graphic' %] [% icon || 'icon-toelichting' %] icon icon-hover" tabindex="0" aria-label="[% aria_label | html_entity %]"></button>
    <div class="dropdown dropdown-tooltip">
    	<div class="dropdown-pijl"></div>
        <div class="dropdown-content [% content_overflow || '' %]">[% dropdown_content %]</div>
    </div>
</div>
