[% UNLESS noselect %]
    [% 
    select_classes = [];
    IF tree_classes; FOREACH tree_class IN tree_classes; select_classes.push(tree_class); END; END;
    IF input_selected; select_classes.push('selected-id-' _ input_selected); END;
    %]
    <select name="[% input_name %]"[% 
        (select_classes ? ' class="' _ select_classes.join(' ') _ '"' : '') %]>
[% END %]

[% IF allow_empty_value %]
<option value="">Gehele afdeling</option>
[% END %]
[% FOREACH entry IN entries %]
    [% UNLESS entry.internal_id %]
    <option value="">-----</option>
    [% NEXT %]
    [% END %]
<option value="[%
    (value_as_id
        ? entry.internal_id
        : entry.dn
) %]"
[% IF (input_selected && input_selected == entry.internal_id) %]
selected="selected"
[% ELSIF (!input_selected && entry.name == "Behandelaar") %]
selected="selected"
[% END %]
>
    [% IF depth %]
        [% '&nbsp;&nbsp;' | repeat(depth) %]
    [% END %]
    [% entry.name %]
</option>
[% END %]

[% UNLESS noselect %]
    </select>
[% END %]

