<div class="zaken_filter_form">

    <div class="filter">
        [% IF result_type == 'logging' %]
            <div class="col col-left">
        <select name="component" class="ezra_logging_component replace-select-medium">
            <option value="" [% IF !current_component %]selected="selected"[% END %]>Alle</option>
        [% FOREACH component = components %]
            <option value="[% component.component || 'undef' %]"
                [% IF component.component == current_component %]selected="selected"[% END %]
            >[%key = component.component %][% component_labels.$key || key || 'undef' %] ([%component.count %])</option>
        [% END %]
        </select>
        </div>
        [% END %]
[% IF ZAKEN_FILTER_STATUS_DROPDOWN %]
        <div class="col col-left">
            <select id="zaakfilter" name="statusfilter" class="replace-select">
                <option value="">Alles</option>
                <option value="new">Nieuw</option>
                <option value="open">In behandeling</option>
                <option value="resolved">Afgehandeld</option>
                <option value="stalled">Opgeschort</option>
            </select>
        </div>
[% END %]
        <div class="col search_wrap">
            <input type="text" name="[% zaken_filter_prefix %]textfilter" class="zaak_search_filter" value="[% zaak_search_filter %]"/>
            <!--
            <input type="hidden" name="allcontacts" class="zaak_search_filter" value="[% all_contacts || 0 %]"/>
            -->
            <span class="icon icon-cancel-search" style="display: none; "></span>
        </div>


    </div>
</div>
